<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>CuteCOM</Name>
    <Version>1.4.8</Version>
    <Title>CuteCOM</Title>
    <Publisher>КОШКА</Publisher>
    <StartMenuDir>CuteCOM</StartMenuDir>
    <TargetDir>@RootDir@Program Files\CuteCOM</TargetDir>
        <AllowSpaceInPath>true</AllowSpaceInPath>
    <RemoteRepositories>
        <Repository>
            <Url>http://www.evileg.ru/software/helloinstaller/</Url>
        </Repository>
    </RemoteRepositories>
</Installer>
